.chartContainer {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 300px;
  background-color: #f8f8f8;
  border: 1px solid #e4e4e4;
  padding: 10px;
  box-sizing: border-box;
}

.bar {
  width: 40px;
  background-color: #3498db;
  color: white;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
